* {
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px; }

.content {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%; }

body {
  margin: 0;
  font-weight: normal;
  font-size: 15px; }

#myVideo {
  position: fi;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity; }

div#seoc {
  height: 500px;
  margin-top: 10%; }

#contentt {
  top: 0;
  color: #f1f1f1;
  width: 100%; }
  #contentt img {
    margin: 30px; }

@media only screen and (max-width: 1000px) {
  div#maina {
    opacity: 0; } }
@media only screen and (max-width: 760px) {
  div.ec-section__footer-app__image {
    height: 180px;
    overflow: hidden; }

  div.infodes {
    text-align: center; } }
div#maina {
  margin-top: 39px;
  overflow: hidden; }
  div#maina a {
    color: #c9c4bc;
    font-size: 0.95em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1.5px;
    padding: 6.8px; }
  div#maina a:hover {
    text-decoration: none;
    color: white; }

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff; }

#myBtn:hover {
  background: #ddd;
  color: black; }

.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 4%; }

.bar1, .bar2, .bar3 {
  margin-left: 30px;
  width: 26px;
  height: 2px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: red;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

#mySidenav {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
#secondpage {
  background-color: #000;
  opacity: 0.6;
  height: 600px; }

div#mainhead {
  height: 70%; }

h1.centrinfo {
  margin-top: 15%;
  text-align: center;
  color: white;
  font-weight: normal; }

a.centrinfo {
  text-align: center; }

a.centrinfo {
  text-align: center;
  color: black;
  border: 1px solid silver;
  padding-left: 20px;
  background-color: white; }

.btn.btn-default {
  border-radius: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-self: center;
  letter-spacing: 2px;
  font-weight: bold; }

div.scrollmenu {
  font-weight: bold;
  background-color: #111;
  color: #f1f1f1;
  overflow: auto;
  padding-left: 40px;
  white-space: nowrap; }

div.scrollmenu a {
  display: inline-block;
  color: silver;
  text-align: center;
  padding: 17px;
  padding-left: 29px;
  text-decoration: none;
  font-size: 0.98em;
  letter-spacing: 4px; }

div.scrollmenu a:hover {
  color: #f1f1f1; }

div#aboutus2 {
  height: auto;
  padding-bottom: 5%;
  width: 100%;
  margin-top: -447px;
  background-color: whitesmoke; }

#navbar {
  height: auto;
  top: 0;
  width: 100%;
  display: block;
  transition: top 1.5s; }

div.headerTitle {
  margin-top: 5%; }
  div.headerTitle h2 {
    font-size: 36px;
    font-weight: 100;
    color: white;
    text-align: left;
    color: #2b2b2b;
    margin-bottom: 0.5em;
    line-height: 1.25; }

div.subtitle {
  font-size: 18px;
  color: white;
  line-height: 1.5; }
  div.subtitle p {
    color: #777;
    font-weight: 300; }

.buttonent {
  display: inline-block;
  margin-top: -40px; }
  .buttonent button {
    padding: 5px; }
  .buttonent a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent; }

.ec-phone-image {
  height: 400px;
  width: 200px;
  position: relative;
  margin: 0 auto; }

.ec-section__footer-app {
  text-align: center; }

.ex-section__footer-app__image img {
  max-height: 350px; }

.ec-phone-image img {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  left: 0; }

.ec-phone-image__background {
  z-index: 1;
  background-color: white; }

img {
  vertical-align: middle;
  border: 0; }

div#imggif {
  background-color: white;
  height: 595px; }

.ec-section__footer-app__image {
  height: auto;
  height: 100px; }

.col-lg-offset-2 {
  margin-left: 16.66666667%; }

.col-sm-4 {
  width: 33.33333333%; }

#footer-menu {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%; }
  #footer-menu a {
    color: black;
    font-size: 1em;
    letter-spacing: 2px;
    padding-left: 20px;
    background-color: whitesmoke; }
  #footer-menu a:hover {
    text-decoration: none;
    color: #b6abab; }

.footer-logo-ico img {
  padding-left: 50px; }

#footer-info {
  background-color: #e6e6e6;
  width: 100%;
  height: 100px;
  padding-top: 4%;
  padding-bottom: 3%;
  box-sizing: border-box; }
  #footer-info a {
    padding-left: 15px; }

#footer-all-link {
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
  padding-bottom: 7%;
  font-size: 1em; }

.info-desk {
  font-size: 0.95em;
  line-height: 1.8em; }
  .info-desk h4 {
    color: #999999; }
  .info-desk li {
    color: #414141; }
  .info-desk a:hover {
    text-decoration: none; }

div.footer-root {
  width: 100%;
  background-color: #201b1b;
  padding-top: 2px;
  color: silver; }
  div.footer-root h5 {
    padding-top: 10px; }
  div.footer-root h6 {
    padding-bottom: 13px; }
  div.footer-root a {
    color: silver;
    text-decoration: none; }

div#aboutus2 h2 {
  color: #524e4e;
  letter-spacing: 1.5px; }
div#aboutus2 p {
  color: #777;
  padding-right: 75px;
  font-size: 1.2em;
  font-weight: normal; }
div#aboutus2 a {
  color: black;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: bold; }
div#aboutus2 a:hover {
  color: #adadad; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 5%;
  width: 100%;
  text-align: left;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  text-decoration: none; }

.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 45px;
  font-size: 40px; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 0;
    right: 35px; } }
.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 4%; }

/*# sourceMappingURL=style.css.map */
